*, ::before, ::after {
    box-sizing:border-box;    
}
body {
    margin: 0;
    padding: 0;
    background: #333333;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins';
    overflow: hidden; /*hidden empeche le scroll du website */ 
}    
.grid {
    display: grid;
    grid-template: repeat(8, 122px) 1fr /  repeat(10,160px) 1fr;
    height: 100vh;
    width: 100vw;
}
.gauche {
    /* debutrangé / debut colonne / fin rangé / fin colonne */
    grid-area: 1 / 1 / -1 / 7;
    display: grid;
    grid-template:repeat(8, 122px) 1fr / repeat(6, 160px);
    background: rgba(221,221,221);
}
.contCube {
    grid-area: 1 / 1 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.cubeHautG {
    font-size: 30px;
    height: 125px;
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.barresJum {
    grid-area: 1 / 3 / 3 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.barre {
    width: 175px;   
    height: 5px;
    background: #333;
    border-radius: 5px;    
}
.barre1 {
    margin-left: 100px;
}

.stitre {
    grid-area: 3 / 2 / 5 / 7;
    font-family: 'Abril Fatface';
    font-size: 50px;
    color: rgb(36, 36, 36);
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column; 
}
.txtGauche {
    grid-area: 4 / 2 / 5 / 6;
    padding-top: 20px;
    padding-left: 118px;
}
.titre {
    grid-area: 6 / 2 / 8 / 7;
    font-family: 'Abril Fatface'; 
    font-size: 130px;
    color: rgb(36,36,36);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column; 
}
.sousTitre {
    font-size: 13px;
    color: rgb(36, 36, 36);
    font-family: 'Poppins' !important;
    padding-right: 190px;
}

/* Côté droit */

.droite {
    grid-area: 1 / 7 / -1 / 13;
    display: grid;
    grid-template:repeat(8, 122px) 1fr / repeat(6, 160px);
    overflow: hidden !important;
}
.d1 {
    background: url('ressources/BMW507.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
}
.boxBtns {
    grid-area: 4 / 1 / 6 / 3;
    display: flex;
    padding-left: 15px;    
}
.btn{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: rgb(218,218,218);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer
}
.btn2 {
   align-self: flex-end; 
}

.mediumT {
    grid-area: 1 / 1 / 4 / -1;
    font-family: 'Abril Fatface';
    font-size: 130px;
    color: #f1f1f1;
    margin: 0;
    padding-left: 15px;
    line-height: 160px;
}

/*  Panneau 2 */

.d2 {
    background: url("ressources/ferrari.jpg"); 
    background-size: 2060px 1304px;
    background-position: 60% 10%;
}

.t2 {
    font-size: 90px;
    color: #be1d01;    
}
.st2 {
    color: #be1d01; 
}
.mt2 {
    color: #be1d01; 
}

/*  Panneau 3 */

.d3 {
    background: url("ressources/porsche.jpg");
    background-size: cover;
    background-position: 60% 50%;
}

.t3 {
    font-size: 70px;
    color: #3134f8;
}
.st3 {
    color: #3134f8;
    padding-left: 0px;
    padding-right: 50px;
}
.tg3 {
    margin-left: -25px;
}

.stxt3 {
    padding-right: 250px;    
}

.b3 {
    grid-area: 2 / 1 / 4 / 3;
}

/* Animation CSS */

.animBtn {
    transform: translateX(0px);
    animation: denied 0.4s forwards;
}

@keyframes denied {
    0% {
        transform: translateX(0px);
        background: rgb(218,218,218);
    }
    20%{
        transform: translateX(-5px);
    }
    40%{
        transform: translateX(5px);
        background: #ff7569;
    }
    60%{
        transform: translateX(-5px);
    }
    80%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0px);
        background: rgb(218,218,218);
    }
}

.animBtnGood {
    animation: good 0.3s forwards;
}

@keyframes good {
    0%{
        transform: scale(1);
    }
    50%{
       transform: scale(0.9); 
    }
    100%{
       transform: scale(1);
    }
}